USE_DOT=1
USE_DOH=1

DOH_HOST=127.0.0.1
DOH_PORT=8000

DOT_HOST=127.0.0.1
DOT_PORT=853

DOT_CERT_FILE=/etc/letsencrypt/live/domain.com/cert.pem
DOT_KEY_FILE=/etc/letsencrypt/live/domain.com/privkey.pem

LOG_LEVEL=INFO
UPSTREAM_DNS=["1.1.1.1", "8.8.8.8"]